In [1]:
c = 5.0
d = 9

In [2]:
for c in range(5):
    if c>3 and c<6:
        print(c)

4

In [3]:
a = 11
b = 5.5
c = 5

In [4]:
a%c

1

In [5]:
a//c

2

In [6]:
5**2

25

In [7]:
int(b)

5

In [8]:
import numpy as np
scores = [13,14.5,16,19,17]
sc = np.array(scores)
base = np.ones(len(scores))

In [12]:
base.sum()

np.float64(5.0)

In [13]:
len(base)

5

In [14]:
scores[1] == sc[1]

np.True_

In [27]:
a = [2,4,6,8]

c= 2

if c >= 4:
    print(c)
elif c%2 == 0:
    print(a[c])

6

In [26]:
1%2

1

In [28]:
palette = {1:'blue', 2:'black', 3:'green'}
palette[1] = 'brown'

In [29]:
palette[1]

'brown'

In [30]:
email = "bob@me.org"

In [34]:
email[3]

'@'

In [46]:
a = [2,4,6,8,10]

n=5

if n == len(a):
    print(n)
elif n%2==0:
    print(a[n])

5

In [48]:
color = ["blue", "black", "green", "brown"]
name = {"bilbo":"baggins","frodo":"baggins","samwise":"gamgee"}
data = (color,name)

In [51]:
zoo = ["lion",("zebra","hiena")]
zoo.append("monkey")

In [52]:
zoo[1][1]

'hiena'

In [56]:
A = np.array([1,-4,-3,-1,4])
A[A < -1 ] = 1

In [62]:
A

array([ 1,  1,  1, -1,  4])

In [65]:
import pandas as pd
data = {
    'name':['bob','peter','ana'],
    'age':[22,31,18]
}
df = pd.DataFrame(data)

In [66]:
df

    name  age
0    bob   22
1  peter   31
2    ana   18

In [75]:
df.loc['name']  == 'bob'

KeyError: 'name'

In [79]:
df.loc['Name','Age'] = ['Mike,20']

In [80]:
df

       name   age        Age
0       bob  22.0        nan
1     peter  31.0        nan
2       ana  18.0        nan
Name    NaN   NaN  [Mike,20]

In [81]:
import pandas as pd
data = {
    'name':['bob','peter','ana'],
    'age':[22,31,18]
}
df = pd.DataFrame(data)

In [82]:
df

    name  age
0    bob   22
1  peter   31
2    ana   18

In [84]:
df.loc[3] = ['Mike',20]

In [85]:
df

    name  age
0    bob   22
1  peter   31
2    ana   18
3   Mike   20