<a href="https://colab.research.google.com/github/vsantos03/AulasCECE/blob/main/notebooks/01-intro-python-hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the type of the result of the expression 3 + 1.5 + 4?

# Homework Exercises

## Part A

Answer these 3 questions without typing code. Then type code to check your answer.

- What is the value of the expression 4 * (6 + 5)

- What is the value of the expression 4 * 6 + 5

- What is the value of the expression 4 + 6 * 5

In [ ]:
4*(6+5)

44

In [ ]:
4*6+5

29

In [ ]:
4+6*5

34

1. What is the type of the result of the expression 3 + 1.5 + 4?

In [ ]:
result = 3 + 1.5 + 4
print(type(result))  # Output: <class 'float'>

<class 'float'>

float

2. Given the string `'hello'` give an index command that returns 'e'.

In [1]:
print('hello'[1])

e

3. Given the string `hello`, give two methods of producing the letter 'o' using indexing.

In [2]:
hi = 'hello'
print(hi[4])
print(hi[-1])

o
o

4. Given the following list, and using indexing, isolate the word 'hello'.

In [3]:
lst = [1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]
lst

[1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]

In [4]:
print(lst[5][0])

hello

5. Using keys and indexing, grab the `'hello'` from the following dictionary

In [5]:
d = {'msg':'hello', 'day':'sunday', 'month':'may', 'age':21, 'people':['bob', "ana", 'john']}
d

{'msg': 'hello',
 'day': 'sunday',
 'month': 'may',
 'age': 21,
 'people': ['bob', 'ana', 'john']}

In [6]:
print(d['msg'])

hello

6. What is the major difference between tuples and lists?

Lists are mutable and tuples not

## Part B

1. What is the output of the following function that receives two numbers as arguments?

In [7]:
def smaller(x, y):
    if x <= y:
        return x
    else:
        return y

In [13]:
x = 10
y = 3
print(smaller(x, y))

3

2. Write a function that takes two numbers and returns the biggest one

In [9]:
def bigger(x, y):
    if x >= y:
        return x
    else:
        return y

In [10]:
print(bigger(x, y))

10

3. Write a function that calculates the sum of two numbers

In [15]:
def sum_numbers(x, y):
    return x + y

In [16]:
print(sum_numbers(x, y))

13

4. Write a function that checks if a number is negative

In [17]:
def is_negative(x):
    return x < 0

In [18]:
z = -5
print(is_negative(x))
print(is_negative(z))

False
True

## Check if a number is multiple of another
Consider the following function that takes two arguments and checks if the first is multiple of the second

In [19]:
def is_multiple(x, y):
    return x % y == 0

In [20]:
print(is_multiple(9,3))

True

1. Write a function that checks if a number is even

In [21]:
def is_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [22]:
print(is_even(9))
print(is_even(8))

False
True

## Control structures: `for` and `while`
Consider the following function that sums all the numbers up to a number `n`

In [23]:
def sum_naturals_up_to(n):
    total = 0
    i = 1
    while i <= n:
        total = total + i
        i = i + 1
    return total

In [24]:
sum_naturals_up_to(5)

15

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [25]:
def sum_naturals(a, b):
    total = 0
    i = a
    while i <= b:
        total = total + i
        i = i + 1
    return total

In [28]:
print(sum_naturals(1,10))

55

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [29]:
def sum_even_naturals(a, b):
    total = 0
    i = a
    while i <= b:
        if i % 2 == 0:
            total = total + i
        i = i + 1
    return total

In [30]:
print(sum_even_naturals(1,5))

6

In [31]:
print(sum_even_naturals(0,2))

2

## Control structures: for loop

Consider the following function that sums all the numbers up to a number `n`

In [32]:
def sum_naturals_up_to2(n):
    total = 0
    for i in range(n+1):
        total = total + i
    return total

In [33]:
sum_naturals_up_to2(5)

15

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [34]:
def sum_naturals(a, b):
    total = 0
    for i in range(a, b+1):
        total = total + i
    return total

In [35]:
print(sum_naturals(1,10))

55

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [36]:
def sum_even_naturals(a, b):
    total = 0
    for i in range(a, b+1):
        if i % 2 == 0:
            total = total + i
    return total

In [37]:
print(sum_even_naturals(1,5))

6

3. Write the multiplication table for the numbers 1 to 10

In [43]:
def multiplication_table():
    for i in range(1, 11):
        for j in range(1, 11):
            print(i * j, end="\t")
        print()

In [44]:
print(multiplication_table())

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100
None

## Input and output
The following function asks for a positive number until a positive number is introduded

In [47]:
def positive_number():
    n = float(input("Positive number:"))
    while n <= 0:
        print("The number {} is not positive".format(n))
        n = float(input("Positive number:"))
    return n

mynum = positive_number()
mynum

Positive number:-1
The number -1.0 is not positive
Positive number:2

2.0

1. Write a function that asks for a valid age. By default, a valid age belongs to the interval [0..100]

In [54]:
def ask_for_age(a=0, b=100):
    age = int(input("Insira a sua idade:"))
    while age <= a or age >= b:
      print("A idade {} não faz parte do intervalo válido".format(age))
      age = int(input("Insira a sua idade:"))
    return age

myage = ask_for_age()
myage

Insira a sua idade:-1
A idade -1 não faz parte do intervalo válido
Insira a sua idade:200
A idade 200 não faz parte do intervalo válido
Insira a sua idade:21

21

## Lists
The following function caclulates the sum of all numbers in a given list

In [ ]:
def sum_all(lst):
    total = 0.0
    for num in lst:
        total = total + num
    return total

In [ ]:
sum_all([3, 2, 7])

12.0

1. Write a function that receives a list of numbers as argument and returns their average

In [ ]:
def average(lst):
    # TODO
    pass