<a href="https://colab.research.google.com/github/vsantos03/AulasCECE/blob/main/notebooks/01-intro-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Introduction to Python

Adapted from [Python Introduction](https://github.com/luispedro/talk-python-intro) by Luis Pedro Coelho

## Python Language History

- Python was started in the late 80's.
- It was intended to be both _easy to teach_ and _industrial strength_.
- It is (has always been) open-source.
- It has become one of the most widely used languages (top 10).

## Python Example

In [1]:
print("Hello World")

Hello World

## A more complicated example

In [2]:
numbers = [10, 7, 22, 14, 17]

total = 0.0
n = 0.0
for val in numbers:
    total = total + val
    n = n + 1
print(total / n)

14.0

"Python is executable pseudo-code."

        — Python lore (often attributed to Bruce Eckel)

## Using the notebook

Cells of code & text.

There is a **single context** and it changes _as you execute cells_.

In [3]:
a = 1

In [4]:
print(a)

1

In [5]:
a

1

In [6]:
a = 2

When you really get confused, restart everything.

# Python types

## Basic types

- Numbers (integers and floating point)
- Booleans (True, False)
- Strings
- Lists and tuples
- Dictionaries and sets

## Numbers
### Integers

In [7]:
a = 1
b = 2
c = 3
a + b * c

7

### Floats

In [8]:
a = 1.2
b = 2.4
c = 3.6

a + b *c

9.84

### Mixing Integers & Floats

When you mix, it all gets converted to floats:

In [9]:
a = 2
b = 2.5
c = 4.4

a + b*c

13.0

### Converting between types

In [10]:
int(7.3)

7

note that this is just truncating and not rounding the number

In [11]:
int(7.8)

7

In [12]:
float(8)

8.0

### Operations

- Addition: `a + b`
- Subtraction: `a - b`
- Multiplication: `a * b`
- Exponentiation: `a ** b`
- Unary Minus: `-a`

What about division?

What is 9 divided by 3?

In [13]:
9 / 3

3.0

What is 10 divided by 3?

In [14]:
10/3

3.3333333333333335

### Two types of division

- floating point division: `a / b`
- integer division: `a // b`
- remainder of the integer division: `a % b`

In [15]:
a = 10
b = 3

print(a / b)
print(a // b)
print(a % b)

3.3333333333333335
3
1

In [16]:
a / float(b)

3.3333333333333335

## Strings

In [17]:
first = 'John'
last = "Doe"
full = first + " " + last

full

'John Doe'

We can easily obtain individual chars or substrings

In [18]:
print(full[0])      # gets the first char
print(full[0:3])    # gets chars from 0 to 2
print(full[-1])     # gets the last char
print(full[-2:])    # gets the last 2 chars

J
Joh
e
oe

### More about `strings`

- strings are immutable objects. It means that you can't change a string, you can only create a new one
- they already have a set of pre-defined methods
    - We call a method with the `<object>.<method>()` syntax

In [19]:
name = "Mary Poppins"

In [20]:
"Pop" in name

True

the `len` function can be applied to strings, lists, dictionaries, arrays, etc...

In [22]:
len(name)

12

In [23]:
print(name)
name.startswith("Mary")

Mary Poppins

True

### Aside: getting help

Add a `?` at the end of an object or a method to get help inside the notebook

In [24]:
name.startswith?

### String rules

- Short string literals are delimited by (`"`) or (`'`).
- Short string literals are one line only.
- Special characters are input using escape sequences (`\n` for newline,...).

In [25]:
print("Line 1\nLine 2\n")
print('Line 1\nLine 2\n')

Line 1
Line 2

Line 1
Line 2

### String Formatting

#### New style

We use a method called `format` to replace placeholders in a string. Placeholders are denoted by `{}`:

In [26]:
"Name: {}".format('John Smith')

'Name: John Smith'

In [28]:
print("My friend {} lives in {}".format('Ratão Renatinho', 'Poceirão'))

My friend Ratão Renatinho lives in Poceirão

You can also have numbers:

In [29]:
print("Name: {0}".format('John Smith'))
print("My friend {0} lives in {1}".format('John Smith', 'Lisbon'))
print("{0} lives in {1}, and {1} is in {2}".format('John Smith', 'Lisbon', 'Portugal'))

Name: John Smith
My friend John Smith lives in Lisbon
John Smith lives in Lisbon, and Lisbon is in Portugal

#### F-strings (new style of formatting)

Usage `f"string {variable}"`

In [30]:
name = "John Smith"
place = "Lisbon"
a = 1
b = 2
print(f"My friend {name} lives in {place} and {a} + {b} = {a + b}")

My friend John Smith lives in Lisbon and 1 + 2 = 3

#### Old style Formatting

You should not use this in new code, but you may still see it in old code:

In [31]:
print("Name: %s" % 'John Smith')
print("My friend %s lives in %s" % ('John Smith', 'Lisbon'))

Name: John Smith
My friend John Smith lives in Lisbon

#### Long strings

In [32]:
long = '''Tell me, is love
Still a popular suggestion
Or merely an obsolete art?

Forgive me, for asking,
This simple question,
I am unfamiliar with his heart.'''

In [33]:
print(long)

Tell me, is love
Still a popular suggestion
Or merely an obsolete art?

Forgive me, for asking,
This simple question,
I am unfamiliar with his heart.

## Lists

A python list is written with square brackets and commas. Elements can be acessed by their index

In [34]:
values = [3, 5, 7, 10]

print(values[0]) # <- first element
print(values[1]) # <- second element

3
5

In [37]:
print(values[0:2]) # first two values
print(values[-1]) #last value
print(len(values)) #the lenght of the values variable

[3, 5]
10
4

### List methods
- `append(element)`
- `insert(position, element)`
- `remove(element)`

In [38]:
fruits = ["Pineapple", "Banana", "Apple"]
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Pineapple']

In [39]:
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange']

In [40]:
fruits.append(123)
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123]

you can even append other lists:

In [41]:
fruits

['Apple', 'Banana', 'Pineapple', 'Orange', 123]

In [42]:
numbers = [1,2,3]
fruits.append(numbers)
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123, [1, 2, 3]]

In [43]:
fruits[5]

[1, 2, 3]

Lists are mutable objects, so you can easily change a given element

In [44]:
print(fruits)
fruits[4] = 7654
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123, [1, 2, 3]]
['Apple', 'Banana', 'Pineapple', 'Orange', 7654, [1, 2, 3]]

In [45]:
fruits[5][1] = 333
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 7654, [1, 333, 3]]

## Tuples

Similar to lists, but *immutable*

In [46]:
a = (3, 5, 7 , "hello", "goodbye")
a

(3, 5, 7, 'hello', 'goodbye')

In [47]:
a[1:4]

(5, 7, 'hello')

Remember: they are *immutable*...

In [48]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

## Dictionaries

In [49]:
emails = {
    'Luis' : 'luis@iscte.pt',
    'Rita' : 'rita@gmail.com',
}

print("Luis' email is {}".format(emails['Luis']))

Luis' email is luis@iscte.pt

In [50]:
emails['Pedro'] = 'pedro@gmail.com'  # <- add a new element
emails['Luis'] = 'luis@iscte-iul.pt' # <- replace an element

print(emails)

{'Luis': 'luis@iscte-iul.pt', 'Rita': 'rita@gmail.com', 'Pedro': 'pedro@gmail.com'}

In [51]:
len(emails)

3

In [52]:
emails.keys()

dict_keys(['Luis', 'Rita', 'Pedro'])

In [53]:
'Pedro' in emails

True

## None type

There is something called `None`.
It's like a null pointer.

In [55]:
None

# Python Control Structures
- `if`
- `while` loop
- `for` loop

In [56]:
MIN_GRADE = 0.5
student = "Rita"
grade = 0.7

if grade > MIN_GRADE:
    print("{} passed".format(student))
    print("Congratulations")
else:
    print("{} needs to take the test again".format(student))

Rita passed
Congratulations

In [57]:
MIN_GRADE = 0.5
student = "Rato Poceirão"
grade = 0.3

if grade > MIN_GRADE:
    print("{} passed".format(student))
    print("Congratulations")
else:
    print("{} needs to take the test again".format(student))

Rato Poceirão needs to take the test again

## Python blocks are defined by indentation

Unlike almost all other modern programming languages, Python uses **indentation** to delimit blocks!

(This is sometimes called the [off-side rule](https://en.wikipedia.org/wiki/Off-side_rule)).

- you can use any number of spaces, but you should use **4 spaces**.
- you can use TABs, but please don't

    if <condition>:
        <statement 1>
        <statement 2>
        <statement 3>
    <statement after the if>

## Conditions


- `a == b`
- `a != b`
- `a < b`
- `a > b`
- `a >= b` and `a <= b`
- `a in lst`
- `a not in lst`

## `if`, `elif` and `else` clauses

In [58]:
a = 2
if a > 3:
    print("Greater than 3")
elif a > 2:
    print("Greater than 2")
elif a > 1:
    print("Greater than 1")
else:
    print("Kind of small")

Greater than 1

## Conditions and Booleans

We have seen comparisons already (e.g., `a < b`), they return booleans (either `True` or `False`):

In [59]:
a = 1
b = 2
print(a < b)
print(a == b)

True
False

We can also use booleans as values:

In [60]:
potato = True
if potato:
    print("Yep")

Yep

Many things can be evaluated as conditions
  - lists (the empty list gets evaluated as `False`, otherwise `True`)
  - dicts (same)
  - strings (empty string evaluates to `False`, otherwise `True`)
  - numbers (zero is `False`, else `True`)

Several other objects can be evaluated in conditions

In [61]:
if fruits:
    print("Fruity")
else:
    print("Nope")

Fruity

The *logic operators* `and`, `or`, `not` can also be used ...

In [62]:
name = input("Name please :")
if "ana" in name or name == "bob":
    print("Welcome back {}".format(name))
else:
    print("Nice to meet you")

Name please :ana
Welcome back ana

In [63]:
name = input("Name please :")
if "ana" in name or name == "bob":
    print("Welcome back {}".format(name))
else:
    print("Nice to meet you")

Name please :Vasco
Nice to meet you

# Loops

## `while` loop

By now, you can probably guess the syntax:

    while <condition>:
        <block>

In [64]:
names = []
name = input("Give me a name: ")
while len(name) != 0:
    names.append(name)
    name = input("Give me another name: ")

Give me a name: Vasco
Give me another name: Santos
Give me another name: Com
Give me another name: Nome
Give me another name: Infinito
Give me another name: Até
Give me another name: Carregar
Give me another name: No
Give me another name: Botão
Give me another name: De
Give me another name: Stop
Give me another name: :)

KeyboardInterrupt: Interrupted by user

In [65]:
if names:
    print("Here is the list of names: ", names)
else:
    print("you are so lazy")

Here is the list of names:  ['Vasco', 'Santos', 'Com', 'Nome', 'Infinito', 'Até', 'Carregar', 'No', 'Botão', 'De', 'Stop', ':)']

In [66]:
# poor man's division
a = 23
b = 5

c = a
i = 0
while c > b:
    c -= b
    i += 1

print("{} // {} = {}".format(a, b, i))
print(23 // 5)

23 // 5 = 4
4

## `for` loop

In Python, the `for` loop is over a "sequence":

    for <name> in <sequence>:
        <block>

In [67]:
students = ['Luis', "Ece", "Rita"]

for st in students:
    print(st)

Luis
Ece
Rita

We can also loop over strings, tuples, or dictionaries:

In [68]:
for c in "Nice day":
    print(c)

N
i
c
e

d
a
y

In [69]:
for x in ("a", "b", 3):
    print(x)

a
b
3

In [70]:
for n in emails:
    print(n, emails[n])

Luis luis@iscte-iul.pt
Rita rita@gmail.com
Pedro pedro@gmail.com

## More loopy stuff

In many other languages, for loops are over integers (0, 1, 2, ... , N). How can we achieve the same in Python?

In [71]:
range(5)

range(0, 5)

In [72]:
for i in range(5):
    print(i, i**2)

0 0
1 1
2 4
3 9
4 16

In [73]:
for i in range(5,10):
    print(i, i**2)

5 25
6 36
7 49
8 64
9 81

## Break and continue

Like in other languages, in a loop `break` exits the loop and `continue` goes to the next iteration immediately:

In [74]:
numbers = [1, 6, -13, -4, 2]

total = 0
n = 0.0

for v in numbers:
    if v < 0:
        continue
    total = total + v
    n += 1
total/n

3.0

# Functions

In [75]:
def double(x):
    """
    Returns the double of its argument
    """
    return 2 * x

print(double(3))

6

Is that a comment?

It's a documentation string.

Try `double?`

In [76]:
double?

## Calling a function

In [77]:
a = 4
double(a)

8

In [78]:
b = double(2.3)
b

4.6

In [79]:
c = double(double(a))
c

16

## Default arguments
Note that this function does not return anything. It only prints something.
We usually refer them *procedures* to these.

In [80]:
def greet(name, greeting = "Hello"):
    print("{} {}".format(greeting, name))

greet("Mario")
greet("Mario", "Goodbye")

Hello Mario
Goodbye Mario

You can also specify the argument names (and then the order does not matter):

In [81]:
greet(greeting = "Howdy", name = "Mario")

Howdy Mario

This is very helpful for functions with >10 arguments!

# Questions ?

- Questions up to this point?
- Please do some practical exercises